<ion-content color="primary">
  <div class="container">
    <img [src]="global.bank.logo" class="logo bounce-in-top">
    <!-- <br>
    <ion-label class="ion-text-center">
      <h2 class="logo-text">
        <span class="logo-text-one"> Star</span>
        <span class="logo-text-two"> MPay</span>
      </h2>
    </ion-label> -->

    <!-- <div>
      <div class="circle-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div> -->
 </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary" class="ion-text-center">
    <img src="assets/imgs/PCiDSS-Logo.png" style="height: 50px;">
  </ion-toolbar>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-item lines="none" color="primary">
      <ion-label class="ion-text-center">
        <p>Powered By: {{global.bank.poweredBy}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>