.avt-bg {
    background-color: rgba(53, 85, 245, 0.1);
    vertical-align: middle;
    text-align: center;
    display: flex;

    .avt-text {
        margin-top: 7px;
        height: 50px !important;
        width: 50px !important;
        // padding: 10px;
    }
}