<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="end">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons> -->
    <ion-item color="primary" lines="none">
      <ion-label class="ion-text-center">
        <h2><strong>Fund Transfer</strong></h2>
        <p>Select your choice</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-item lines="none" button detail="true" mode="ios">
      <ion-avatar slot="start">
        <img src="assets/imgs/wallets/account-wallet.png">
      </ion-avatar>
      <ion-label>
        <h2><strong>Wallet to Account</strong></h2>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button color="medium" expand="block" mode="ios">
      Dismiss
    </ion-button>
  </ion-toolbar>
</ion-footer>