<ion-header class="ion-no-border">
  <div class="header-bg"></div>
  <div class="header-content">
    <ion-toolbar class="clear">
      <ion-buttons slot="end">
        <ion-back-button color="light" icon="close"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="ion-text-center">
      <img [src]="global.user.profilePic" class="side-menu-avatar">
      <ion-label>
        <h2 class="bold" style="font-size: larger;"> <ion-text color="light">{{global.user.fullName}}</ion-text> </h2>
        <p style="color:#ddd"> {{global.user.mobile}} </p>
        <br>
      </ion-label>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-item lines="none" button mode="ios">
      <ion-icon name="person" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2>Profile</h2>
        <p>Check your profile</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="custom-card">
    <ion-item lines="none" button mode="ios" detail="false">
      <ion-icon name="finger-print" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2><h2>Biometric Login</h2></h2>
        <p>Enable/Disable biometric login</p>
      </ion-label>
      <ion-toggle checked="true" mode="md"></ion-toggle>
    </ion-item>
  </ion-card>
  <ion-card class="custom-card">
    <ion-item lines="none" button mode="ios" detail="true">
      <ion-icon name="card-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2><strong>Reset Password</strong></h2>
        <p>Change your existing password</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="custom-card">
    <ion-item lines="none" button mode="ios" detail="true">
      <ion-icon name="apps-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2><strong>Reset mPin</strong></h2>
        <p>Change your existing mPin</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="custom-card" (click)="global.setPage('referapp')">
    <ion-item lines="none" button mode="ios" detail="true">
      <ion-icon name="megaphone-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2><strong>Refer & Earn</strong></h2>
        <p class="ion-text-wrap">Refer this app with your friends</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="custom-card">
    <ion-item lines="none" button mode="ios" detail="true">
      <ion-icon name="share-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2><strong>Share App</strong></h2>
        <p class="ion-text-wrap">Share this app link to download from store</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="custom-card">
    <ion-item lines="none" button mode="ios" detail="true">
      <ion-icon name="trash-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2><strong>Clear Data</strong></h2>
        <p>Delete all app data</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="custom-card">
    <ion-item lines="none" button mode="ios" detail="true">
      <ion-icon name="information-circle-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2><strong>1.0.0</strong></h2>
        <p>App Version</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>