
.upi-img {
    width: 90px;
    margin: auto;
    text-align: center;
}
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid var(--ion-color-primary);
    width: 90px;
    height: 90px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
}

.upi-icon {
    position: relative;
    top: 10px;
    left: 1px;
    height: 70px !important;
    width: 70px !important;
    padding: 10px;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

ion-content {
    --background: rgba(0,0,0,0.1);
}
ion-footer {
    --background: #fff;
}