.drawer {
    position: absolute;
    box-shadow: rgba(0,0,0, 0.12) 0px 4px 16px;
    width:100%;
    border-radius: 20px;
    bottom: calc(-76vh + env(safe-area-inset-bottom));
    height:80vh;
    z-index: 11;
    background-color: #fff;
}
.drawer-pull {
    background-color: #cccccc;

}