.header-bg {
    background-color: var(--ion-color-primary);
    height:200px;
    background-image: url('/assets/imgs/top-background.png');
    background-size: cover;
}
.header-content {
    margin-top: -200px;
}
.logo {
    border-radius: 50% !important;
}
ion-item {
    --background: transparent;
    --ion-color-base: transparent !important;
    --padding-start: 8px;
}

ion-content {
    --background: #EDEDED;
}
ion-header {
    --background: #EDEDED;
    background-color: #EDEDED;
}

ion-avatar img{
    border-radius: 0% !important;
    overflow: hidden !important;
    margin: 0px !important;
    padding:0px !important;
}

ion-card {
    border-radius: 10px !important;
}
.card-icon {
    height:40px;
}
.card-label {
    margin: 0px !important;
    font-weight: bold;
    font-size: 10px;
    color: var(--ion-color-primary);
}