<ion-content>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="light" class="ion-text-center" *ngIf="pageStatus===1" style="border-top-left-radius: 16px;border-top-right-radius: 16px;">
    <img src="assets/imgs/user-experience.png" style="width: 40% !important;border-bottom: 2px solid #ccc;">
    <p style="font-size: x-small;font-weight: 600;">Do you like the <br>App Experience?</p>
    <ion-row>
      <ion-col size="6" class="ion-text-right">
        <ion-button fill="outline" mode="ios" color="danger" (click)="global.modalCtrl.dismiss(0)">
          <ion-icon name="close-circle-outline"></ion-icon> &nbsp;
          No
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-left">
        <ion-button mode="ios" (click)="pageStatus = 2">
          <ion-icon name="checkmark-circle-outline"></ion-icon> &nbsp;
          Yes
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <div *ngIf="pageStatus===2" class="ion-text-center">
    <ion-toolbar class="ion-text-center"  style="border-top-left-radius: 16px;border-top-right-radius: 16px;">
      <br>
      <img src="assets/imgs/rate-us2.png" style="width: 40% !important;border-bottom: 2px solid #ccc;">
      <p style="font-size: x-small;font-weight: 600;" class="ion-text-wrap">
        Leave a constructive feedback and <br> stand a chance to win a 
        <ion-text color="danger">Surpize Gift!</ion-text>
      </p>
      <ion-row>
        <ion-col size="6" class="ion-text-right">
          <ion-button fill="outline" mode="ios" color="danger" (click)="global.modalCtrl.dismiss(0)">
            <ion-icon name="close-circle-outline"></ion-icon> &nbsp;
            Dismiss
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-left">
          <ion-button mode="ios" (click)="global.modalCtrl.dismiss(1)">
            <ion-icon name="checkmark-circle-outline"></ion-icon> &nbsp;
            Proceed
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-footer>