<ion-header class="ion-no-border">
  <div class="header-bg"></div>
  <div class="header-content">
    <ion-toolbar color="primary" class="custom-toolbar">
      <ion-buttons slot="end">
        <ion-back-button icon="close"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="ion-text-center">
      <img [src]="biller.icon" class="biller-logo">
      <ion-title color="light"> {{biller.title}} Bill Payment</ion-title>
    </div>
    <div style="width:120px;margin:auto;margin-top:12px;">
      <ion-row>
        <ion-col size="3">
          <ion-icon [name]="pageStatus>=1?'radio-button-on':'radio-button-off'" color="light" style="font-size: larger;"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-icon [name]="pageStatus>=2?'radio-button-on':'radio-button-off'" color="light" style="font-size: larger;"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-icon [name]="pageStatus>=3?'radio-button-on':'radio-button-off'" color="light" style="font-size: larger;"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-icon [name]="pageStatus>=4?'radio-button-on':'radio-button-off'" color="light" style="font-size: larger;"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-header>

<ion-content>
  <!-- <ion-item class="ion-text-center" color="primary" lines="none" style="margin-top:45px">
    <div style="width:120px;margin:auto">
      <ion-row>
        <ion-col size="3">
          <ion-icon [name]="pageStatus>=1?'radio-button-on':'radio-button-off'" color="tertiary" style="font-size: larger;"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-icon [name]="pageStatus>=2?'radio-button-on':'radio-button-off'" color="tertiary" style="font-size: larger;"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-icon [name]="pageStatus>=3?'radio-button-on':'radio-button-off'" color="tertiary" style="font-size: larger;"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-icon [name]="pageStatus>=4?'radio-button-on':'radio-button-off'" color="tertiary" style="font-size: larger;"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-item> -->
  <div>
    <ion-item color="light" lines="none">
      <ion-label class="ion-text-center">
        <p *ngIf="pageStatus===1">Enter Province & Bill number</p>
        <p *ngIf="pageStatus===2">Bill Details</p>
        <p *ngIf="pageStatus===3">Payment Method</p>
        <span *ngIf="pageStatus===4">
          <h2> <strong> <ion-text color="success">Transaction Success</ion-text> </strong></h2>
          <p style="font-size: x-small;">{{today | date:'dd-MMM-yyyy hh:mm:ss'}}</p>
        </span>
      </ion-label>
    </ion-item>
  </div>
  <div class="ion-padding bg">
    <div class="box">
      <form class="ion-text-center" *ngIf="pageStatus===1">
        <div class="inputBox">
          <ion-item lines="none" class="custom-item">
            <ion-label>Province</ion-label>
            <ion-select placeholder="Select Province">
              <ion-select-option value="AUR">Aurangabad</ion-select-option>
              <ion-select-option value="PAT">Patna</ion-select-option>
              <ion-select-option value="CHN">Chennai</ion-select-option>
              <ion-select-option value="MUM">Mumbai</ion-select-option>
              <ion-select-option value="DEL">Delhi</ion-select-option>
              <ion-select-option value="BAN">Banglore</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="inputBox">
          <input type="tel" maxlength="10" name="bill" required onkeyup="this.setAttribute('value', this.value);"  value="" [(ngModel)]="biller.id">
          <label>Enter your bill number</label>
        </div>
      </form>
      <form class="ion-text-center" *ngIf="pageStatus===2">
        <div class="inputBox">
          <input type="tel" maxlength="10" readonly name="bill" required [(ngModel)]="biller.id">
          <label>Bill Number</label>
        </div>
        <div class="inputBox">
          <input type="tel" maxlength="10" readonly name="bill-name" required [(ngModel)]="global.user.fullName">
          <label>Customer Name</label>
        </div>
        <div class="inputBox">
          <input type="tel" maxlength="10" readonly name="bill-address" required [(ngModel)]="global.user.address">
          <label>Customer Address</label>
        </div>
        <div class="inputBox">
          <input type="tel" maxlength="10" readonly name="bill-outstanding" required [(ngModel)]="biller.outstanding">
          <label>Outstanding Amount</label>
        </div>
        <div class="inputBox">
          <input type="tel" maxlength="10" readonly name="bill-dueMonth" required [(ngModel)]="biller.dueMonth">
          <label>Due Month</label>
        </div>
      </form>
      
      <form class="ion-text-center" *ngIf="pageStatus===3">
        <div class="inputBox">
          <ion-item lines="none" class="custom-item">
            <ion-label>Outstanding Amount</ion-label>
            <ion-label slot="end" class="ion-text-right">{{global.bank.currencySymbol}} {{biller.outstanding}}</ion-label>
          </ion-item>
        </div>
        <div class="inputBox">
          <ion-item lines="none" class="custom-item" mode="ios">
           <ion-label>Pay From</ion-label>
            <ion-select placeholder="Select" value="W" name="payFrom" [(ngModel)]="payFrom">
              <ion-select-option value="W">Wallet</ion-select-option>
              <ion-select-option value="A">Account</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="inputBox" *ngIf="payFrom==='A'">
          <ion-item lines="none" class="custom-item" mode="ios">
           <ion-label>Account No.</ion-label>
            <ion-select placeholder="Select" value="W" name="selectedAcc" [(ngModel)]="seletectedAcc">
              <ion-select-option [value]="a.accNo" *ngFor="let a of global.bank.accountList">{{a.accNo}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </form>
    </div>
  </div>
  <div class="result">
    <form class="ion-text-center" *ngIf="pageStatus===4" class="txn-bg">
      <ion-item lines="full" class="transparent">
        <ion-label class="ion-text-wrap">
          <ion-row>
            <ion-col size="5">Bill For:</ion-col> <ion-col size="7">{{biller.title}} Bill</ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
      <ion-item lines="full" class="transparent">
        <ion-label class="ion-text-wrap">
          <ion-row>
            <ion-col size="5">Due Month: </ion-col> <ion-col size="7">{{biller.dueMonth}}</ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
      <ion-item lines="full" class="transparent">
        <ion-label>
          <ion-row>
            <ion-col size="5">Customer:</ion-col> <ion-col size="7">{{global.user.fullName}}</ion-col>
          </ion-row> 
        </ion-label>
      </ion-item>
      <ion-item lines="full" class="transparent">
        <ion-label class="ion-text-wrap">
          <ion-row>
            <ion-col size="5">Address:</ion-col> <ion-col size="7"> {{global.user.address}}</ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
      <ion-item lines="full" class="transparent">
        <ion-label>
          <ion-row>
            <ion-col size="5">Paid Amount: </ion-col> <ion-col size="7">{{global.getCurrencyText(global.bank.currencyCode)}} {{biller.outstanding}}</ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
      <ion-item lines="full" class="transparent">
        <ion-label>
          <ion-row>
            <ion-col size="5">Reference No.: </ion-col> <ion-col size="7">123456789123456789</ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
      <div class="ion-text-center ion-padding">
        <ion-chip color="success" (click)="socialSharing()">
          <ion-icon name="share-social-outline"></ion-icon>
          <ion-label>Share Receipt</ion-label>
        </ion-chip>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" >
    <ion-row *ngIf="pageStatus!=4">
      <ion-col size="6">
        <ion-button mode="ios" expand="block" color="medium" [disabled]="pageStatus === 1 || pageStatus === 4" (click)="goBack()">
          Back
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button mode="ios" expand="block" color="tertiary" (click)="next()">
          Next
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="pageStatus===4">
      <ion-col size="6">
        <ion-button mode="ios" expand="block" color="medium" (click)="global.pop()">
          Home
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button mode="ios" expand="block" color="tertiary" (click)="global.showToast('This transaction added to favourite list')">
          Add Favourite
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>